{% extends "network/layout.html" %} {% block body %}

<main class="">

  <div class="wrapper container">
    <div class="row">
      <aside class="col-sm-3">
        <!-- Contenido aside de la izquierda -->
      </aside>

      <div class="col-sm-6">
        <!-- Contenido central -->
        <section class="new-post">
          {% if user.is_authenticated %}
            {% include 'network/new_post.html' %}
          {% endif %} 
        </section>

        <h1 class="text">All Posts</h1>

        <section class="feed">
          {% for post in posts %}
          <article class="post border border-danger p-3 m-3">
            <header class="row d-flex flex-row">
              <div class="col-1 profile-pic">
                <img src="../../static/network/avatar.png" alt="" width="20px" />
              </div>
      
              <div class="col-11 user-info">
                <h3>{{ post.owner.username }}</h3>
                <p>{{ post.created_date }}</p>
              </div>
            </header>
      
            <div class="content">
              <p>{{ post.content }}</p>
            </div>
      
            <div class="likes">
              <img src="../../static/network/like.png" alt="" />
              <p class="m-0 ml-1">{{ post.likes }}</p>
            </div>
      
            <hr />
      
            <footer>
              <div class="row actions">
                <i class="fa-brands fa-github-square"></i>
                <!-- uses brand style -->
              </div>
            </footer>
          </article>
          {% endfor %}
        </section>
        
      </div>

      <aside class="col-sm-3">
        <!-- Contenido aside de la derecha -->
      </aside>
    </div>
  </div>

</main>

{% endblock %}
