{% extends "network/layout.html" %} {% block body %}

<main class="">

	<div class="wrapper container">
		<div class="row">
			<aside class="col-sm-2">
				<!-- Contenido aside de la izquierda -->
			</aside>

			<div class="col-sm-8">
				<!-- Contenido central -->
				<section class="new-post">
					{% if user.is_authenticated %}
					{% include 'network/components/new_post.html' %}
					{% endif %}
				</section>

				{% include 'network/components/feed.html' %}

			</div>

			<aside class="col-sm-2">
				<!-- Contenido aside de la derecha -->
			</aside>
		</div>
	</div>

</main>

{% endblock %}