{% extends "network/layout.html" %} {% block body %}

<main class="">

  <div class="wrapper container">
    <div class="row">
      <aside class="col-sm-2">
        <!-- Contenido aside de la izquierda -->
      </aside>

      <div class="col-sm-8">
        <!-- Contenido central -->
        <section class="new-post">
          {% if user.is_authenticated %}
            {% include 'network/components/new_post.html' %}
          {% endif %} 
        </section>

        <section class="feed">
          {% for post in posts %}
          <article class="post">
            <header class="row d-flex flex-row ">
              <div class="col-2 profile-pic">
                <img src="../../static/network/avatar.png" alt="" width="10px" />
              </div>
      
              <div class="col-10 user-info p-0">
                <h3>{{ post.owner.username }}</h3>
                <p>{{ post.created_date }}</p>
              </div>
            </header>
      
            <div class="content">
              <p>{{ post.content }}</p>
            </div>
      
            <hr />
      
            <footer>
              <div class="row actions">
                <div class="action">
                  <!-- like button -->
                  <i class="fa-regular fa-thumbs-up"></i>
                  <p>Like</p>
                </div>
              </div>
            </footer>
          </article>
          {% endfor %}
        </section>
        
      </div>

      <aside class="col-sm-2">
        <!-- Contenido aside de la derecha -->
      </aside>
    </div>
  </div>

</main>

{% endblock %}
