{% block body %}
{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'network/css/styles_login.css' %}">
</head>

{% if message %}
<div>{{ message }}</div>
{% endif %}


<main>
	<section class="login-box">

		<div class="ilustration">
		</div>

		<div class="form">
			<div class="form-container">

				<h1>Hey, hello 👋</h1>
				<p>Connect with your friends and the world around you on <span>Merger.</span></p>
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="username">Username</label>
						<input autofocus class="form-control" type="text" name="username" placeholder="e.g. elonm_">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input class="form-control" type="password" name="password" placeholder="e.g. my_password">
					</div>
					<input class="btn-login" type="submit" value="Login">
				</form>
				<p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
			</div>
		</div>



	</section>

</main>



{% endblock %}