main {
  background-color: #f8f8f8;
} 

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.actions {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #657786;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}

.button:hover {
  color: #1da1f2;
}

.button:active {
  color: #e0245e;
}


.action p {
  margin: 0;
}